.reviews_count{
    display:flex;
    align-items:center;
    justify-content: center;
}

.reviews_count p {
    margin: 0 16px  0 0;
    color: #fff;

}
.reviews_count p span{
    color: #fff;
    opacity: 0.5;
}

.reviews_count svg{
    cursor: pointer;
}
.left-icon{
    transform:rotate(180deg);
    display:flex;
    margin-right: 15px;
    fill: #fff !important;
}

.icon_container{
    display:flex
}

.carousel_container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    overflow-y: hidden;
    overflow-x: scroll;
    margin:30px 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.carousel_container::-webkit-scrollbar{
   display:none
}

.review_contain{
    position: relative;
    margin: 20px 50px 10px 0px;
}