.home_container{
    background-image: url(../../assests/bg.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height:862px;
    /* margin-top: 70px; */
    position: relative;
}

@media  (max-width: 1280px) {
.home_container{
    background-position: center;
}
}

.bg_overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(5, 11, 20, 0.28) 0%, rgba(1, 13, 32, 0.69) 67.53%, #0A0B1A 85.33%);
    opacity: 0.4;
}

.home_body{
    width:80%;
    margin:auto
}

.main_heading{
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100%; */
    position: absolute;
    /* padding:70px 150px; */
    margin-top:250px;
}

.main_heading h1{
    color:#fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 25px;
}

.main_heading p {
    font-family: 'Nunito', sans-serif;
    color:#fff;
    opacity: 0.6;
    font-size: 24px;
}
