.show_header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom: 27px;
}

.show_header h2{
    font-size:32px;
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    line-height:40px;
    font-weight:400
}

.show_header h2::before{
    content:'';
    position:absolute;
    width:48px;
    height: 3px;
    background: #0259EB;
    bottom: 26px;
    border-radius: 16px;
}

.show_header span{
    color: #E5C558;
    font-size:16px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}
.carousel_container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    overflow-y: hidden;
    overflow-x: scroll;
    margin:30px 0
}

.carousel_container::-webkit-scrollbar{
   display:none
}